* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.form-container {
  width: 350px;
  margin: 0 auto;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-container .auth{
  color: #000000d7;
  text-decoration: none;
}

.form-container .auth:hover{
  text-decoration: underline;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #472dbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #5f44b9;
}

p {
  margin-top: 15px;
  text-align: center;
}
